@import '../../style.scss';

.home {
    @include themify($themes){
    color: themed('textColor');
    background:themed('bgSoft');
    padding: 20px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 100vh;

    
    @include mobile {
        padding: 10px 20px;
    }
    
    }    
}